<header class="header-global">
    
    <a href="/" class="logo"> <!-- Wellby logo -->
        <img src="{{ 'logo.svg' | asset_url }}" alt="{{'general.shop.title' | t}}" />
    </a>
    
    <a href="/" class="shop-link text-link">{{'header.button.shop' | t}}</a> <!-- Shop link -->
    {% comment %} Passing itemCount variable from the cart.item_count object {% endcomment %}
    {% assign cart_text = 'cart.button.count_html' | t: itemCount: cart.item_count %} <!-- variable if cart is closed t: is defining the logic in the locales doc -->
    {% assign cart_close_text = 'cart.button.close' | t %} <!-- Variable if cart is open -->

    <a href="/cart" class="cart-link text-link">
        <span class="cart-text">{{ cart_text }}</span>
        <span class="cart-close-text">{{ cart_close_text }}</span>
    </a>

</header>